.main {
  width: 100%;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  max-width: var(--max-width);
  margin: 0 auto;
}

.pure {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.section {
  padding-top: var(--space-m);
  padding-bottom: var(--space-l);
}

.bg {
  background-color: var(--bg);
}

.bgAdditional {
  background-color: var(--additional);
}
