.stackBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-s);
}

.advancedBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-s);
}

.stackBoxMini {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--space-s);
}
