.stackBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-s);
}

.advancedBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-s);
}

.stackBoxMini {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: var(--space-s);
}

@media screen and (width <=1023px) {
  .stackBox {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}

@media screen and (width <= 550px) {
  .advancedBox {
    grid-template-columns: 1fr;
  }
}
