.label {
  position: absolute;
  top: 50%;
  left: var(--space-m);
  padding: 0 var(--space-xs);
  font-size: 0.875rem;
  color: var(--text-secondary);
  pointer-events: none;
  background-color: var(--bg-card);
  border-radius: var(--radius-xs);
  transform: translateY(-50%);
  transition:
    top 0.3s,
    font-size 0.3s,
    color 0.3s;
}

textarea + .label {
  top: var(--space-m);
}

textarea:not(:placeholder-shown) + .label,
textarea:focus + .label {
  top: 0;
  font-size: 0.7rem;
  color: var(--accent);
}

input:not(:placeholder-shown) + .label,
input:focus + .label {
  top: 0;
  font-size: 0.7rem;
  color: var(--accent);
}
