.label {
  position: absolute;
  top: 50%;
  left: var(--space-m);
  padding: 0 var(--space-xs);
  font-size: 0.875rem;
  color: var(--text-secondary);
  pointer-events: none;
  background-color: var(--bg-card);
  border-radius: var(--radius-xs);
  transform: translateY(-50%);
  transition:
    top var(--transition-move),
    font-size var(--transition-move),
    color var(--transition-color);
}

textarea + .label {
  top: var(--space-m);
}

textarea:not(:placeholder-shown) + .label,
textarea:focus + .label {
  top: 0;
  font-size: 0.7rem;
  color: var(--accent);
}

textarea:not(:placeholder-shown) + .label.error,
textarea:focus + .label.error {
  color: var(--text-error);
}

textarea:not(:placeholder-shown) + .label.warning,
textarea:focus + .label.warning {
  color: var(--text-warning);
}

input:not(:placeholder-shown) + .label,
input:focus + .label {
  top: 0;
  font-size: 0.7rem;
  color: var(--accent);
}

input:not(:placeholder-shown) + .label.error,
input:focus + .label.error {
  color: var(--text-error);
}

input:not(:placeholder-shown) + .label.warning,
input:focus + .label.warning {
  color: var(--text-warning);
}
