.git
.gitignore

logs
*.log

.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
*.swp
*.swo

.env
.env.*
!.env.example
*.md
docker-compose.yml
dist

Dockerfile
.dockerignore

README.md
LICENSE

test
coverage
