services:
  frontend:
    container_name: personal-frontend
    build:
      context: .
      args:
        NEXT_PUBLIC_SERVICE_API: ${NEXT_PUBLIC_SERVICE_API}
        NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY: ${NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY}
      dockerfile: Dockerfile
    expose:
      - '3000'
    environment:
      NODE_ENV: production
    init: true
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    container_name: personal-backend
    build:
      context: ../personal-backend
      dockerfile: Dockerfile
    expose:
      - ${PORT}
    secrets:
      - smtp_user
      - smtp_password
      - smtp_target_email
    environment:
      NODE_ENV: production
      PORT: ${PORT}
      SMTP_USER_FILE: /run/secrets/smtp_user
      SMTP_PASS_FILE: /run/secrets/smtp_password
      TARGET_EMAIL_FILE: /run/secrets/smtp_target_email
      CLOUDFLARE_TURNSTILE_SECRET_KEY_FILE: /run/secrets/cloudflare_turnstile_secret_key
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_SECURE: ${SMTP_SECURE}
      CORS_FRONTEND: ${CORS_FRONTEND}
      CLOUDFLARE_TURNSTILE_VERIFY_URL: ${CLOUDFLARE_TURNSTILE_VERIFY_URL}

    init: true
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    container_name: personal-nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

secrets:
  smtp_user:
    file: ../secrets/secret_smtp_user.txt
  smtp_password:
    file: ../secrets/secret_smtp_pass.txt
  smtp_target_email:
    file: ../secrets/secret_smtp_target_email.txt
  cloudflare_turnstile_secret_key:
    file: ../secrets/secret_cloudflare_secret_key.txt
