.header {
  position: fixed;
  top: 0;
  z-index: var(--z-index-level-3);
  width: 100%;
  height: var(--header-height);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  background-color: var(--bg-card);
  border-bottom: 1px solid var(--border);
  box-shadow: var(--box-shadow);
  transition: transform var(--transition-move);
}

.hidden {
  transform: translateY(-100%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  opacity: 1;
  transition: opacity var(--transition-color);
}

.logo:hover {
  opacity: var(--opacity);
}

.rightBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightCtrls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: var(--space-xl);
}

@media screen and (width <= 768px) {
  .rightCtrls {
    margin-left: var(--space-s);
  }
}
