.root {
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
}

.h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.h2 {
  font-size: 3rem;
  font-weight: 700;
}

.h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.h4 {
  font-size: 2rem;
  font-weight: 700;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.h6 {
  font-size: 1.25rem;
  font-weight: 700;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.lead {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
}

.light {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
}

.light2 {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.15;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.caption {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
}

.overline {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.subtitle1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.subtitle2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.primary {
  color: var(--text);
}

.secondary {
  color: var(--text-secondary);
}

.error {
  color: var(--text-error);
}

.accent {
  color: var(--accent);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gutterBottom_xs {
  margin-bottom: var(--space-xs);
}

.gutterBottom_s {
  margin-bottom: var(--space-s);
}

.gutterBottom_m {
  margin-bottom: var(--space-m);
}

.gutterBottom_l {
  margin-bottom: var(--space-l);
}

.gutterBottom_xl {
  margin-bottom: var(--space-xl);
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.underlineDashed {
  text-decoration: underline dashed;
}

.underlineHover:hover {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.strong {
  font-weight: 700;
}

.em {
  font-style: italic;
  font-weight: 400;
}

.code {
  padding: 0.1em 0.3em;
  font-family: Monaco, Consolas, monospace;
  font-size: 0.9em;
  background: var(--additional);
  border-radius: 3px;
}

.italic.underline {
  font-style: italic;
  text-decoration: underline;
}

.strike.underline {
  text-decoration: line-through underline;
}
