.root {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.09rem;
}

.h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

.h3 {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0;
}

.h4 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0;
}

.h6 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.009375rem;
}

.body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
}

.body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.015625rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.caption {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

.overline {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.009rem;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.006rem;
}

.primary {
  color: var(--text);
}

.secondary {
  color: var(--text-secondary);
}

.error {
  color: var(--text-error);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.noWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gutterBottom {
  margin-bottom: 0.35em;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.underlineDashed {
  text-decoration: underline dashed;
}

.underlineHover:hover {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.strong {
  font-weight: 700;
}

.em {
  font-style: italic;
  font-weight: 400;
}

.code {
  font-family: 'Monaco', 'Consolas', monospace;
  font-size: 0.9em;
  background: var(--additional);
  padding: 0.1em 0.3em;
  border-radius: 3px;
}

.italic.underline {
  text-decoration: underline;
  font-style: italic;
}

.strike.underline {
  text-decoration: line-through underline;
}
