.container {
  display: flex;
  gap: var(--space-m);
  justify-content: space-between;
}

@media screen and (width <= 1023px) {
  .container {
    flex-direction: column;
  }

  .title {
    text-align: center;
  }
}
