.content {
  padding: var(--space-m);
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow);
  transition: all var(--transition-color);
}

.linkWrapper {
  vertical-align: super;
  transition: opacity var(--transition-color);
}

.linkWrapper:hover {
  opacity: var(--opacity);
}

.linkWrapper:active {
  opacity: 1;
}

.link {
  padding: var(--space-s);
  padding-left: var(--space-xs);
}

.content:hover {
  border-color: var(--accent);
  box-shadow: var(--box-shadow-hover);
}

.header {
  display: flex;
  flex-direction: column;
}

.footnote {
  align-self: flex-end;
  max-width: 60%;
  margin-bottom: var(--space-m);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: var(--space-m);
}

.footer {
  padding-top: var(--space-s);
  margin-top: var(--space-m);
  border-top: 1px solid var(--border);
}
