.burgerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: var(--space-s);
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: var(--radius-xs);
  transition: var(--transition-color);
}

.burgerButton:hover {
  opacity: var(--opacity);
}

.burgerLine {
  width: 24px;
  height: 2px;
  margin-bottom: 4px;
  background-color: var(--text);
  transition: var(--transition-move);
}

.burgerLine:last-child {
  margin-bottom: 0;
}
