.stackCard {
  display: flex;
  width: 100%;
  min-height: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-s);
  border: 1px solid var(--border);
  border-radius: var(--radius-m);
}
