.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: calc(var(--z-index-level-4) + 1);
  width: 280px;
  overflow: hidden;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow);
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-s);
}

.mobileNavigation {
  display: flex;
  flex-direction: column;
}

.mobileNavigation a {
  padding: var(--space-s) var(--space-xs);
  border-radius: 8px;
  transition:
    background-color var(--transition-color),
    color var(--transition-color);
}

.mobileNavigation a:hover,
.mobileNavigation a:focus {
  color: var(--text);
  background-color: var(--bg);
}

.mobileControls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: var(--space-s);
  border-top: 1px solid var(--border);
}

.menuOverlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-level-4);
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(3px);
  animation: fade-in var(--transition-move);
}

@keyframes fade-id {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (width <= 768px) {
  .dropdownMenu {
    width: 180px;
  }
}
