.card {
  display: block;
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  margin-bottom: var(--space-m);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  border-radius: var(--radius);
}
