.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  margin-bottom: var(--space-s);
}

.additional {
  display: flex;
  padding-left: var(--space-m);
}

.withDivider {
  border-bottom: 1px solid var(--border);
}
