section .sectionMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.textContainer {
  display: flex;
  gap: var(--space-s);
  justify-content: space-between;
}

.textContainerInner {
  max-width: var(--max-width-small);
}
