.link,
.link * {
  margin-left: var(--space-m);
  color: var(--link-nav);
  text-decoration: none;
  transition: color var(--transition-color);
}

.link:hover,
.link:hover * {
  color: var(--link-nav-hover);
}

.link.active,
.link.active * {
  color: var(--link-nav-active);
}

@media (width <= 1023px) {
  .link,
  .link * {
    margin-left: 0;
    text-align: right;
  }
}
