@import 'tailwindcss';

:root {
  --bg: #ffffff;
  --text: #000000;
}

/* Системная тёмная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0f0f0f;
    --text: #ffffff;
  }
}

/* Принудительная светлая */
html[data-theme='light'] {
  --bg: #ffffff;
  --text: #000000;
}

/* Принудительная тёмная */
html[data-theme='dark'] {
  --bg: #0f0f0f;
  --text: #ffffff;
}

body {
  background: var(--bg);
  color: var(--text);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}
