:root {
  --bg: #f9fafb;
  --text: #111827;
  --accent: #2563eb;
  --additional: #e5e7eb;

  --color_sun: #fbbf24;
  --color_moon: #d1d5db;
  --color_system: #d1d5db;

  --space-xs: 6px;
  --space-s: 12px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 64px;

  --max-width: 1130px;
}

/* html[data-theme='light'] {} */

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0f172a;
    --text: #e5e7eb;
    --accent: #38bdf8;
    --additional: #020617;

    --color_sun: #475569;
    --color_moon: #2563eb;
    --color_system: #475569;
  }
}

html[data-theme='dark'] {
  --bg: #0f172a;
  --text: #e5e7eb;
  --accent: #38bdf8;
  --additional: #020617;

  --color_sun: #475569;
  --color_moon: #2563eb;
  --color_system: #475569;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-6);
  font-weight: 400;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
