.section {
  width: 100%;
  max-width: var(--max-width);
  padding: calc(var(--space-xl) * 1.5) var(--space-m);
  margin: 0 auto;
}

@media screen and (width <= 768px) {
  .section {
    padding: calc(var(--space-l) * 1.5) var(--space-m);
  }
}
