.section {
  width: 100%;
  max-width: var(--max-width);
  padding: calc(var(--space-xl) * 2) var(--space-m);
  margin: 0 auto;
}

.textContainer {
  width: 100%;
  max-width: var(--max-width-small);
}
