.contacts {
  background-color: var(--bg-card);
}

.contactsContainer {
  display: flex;
  gap: var(--space-m);
  justify-content: space-between;
}

@media screen and (width <= 768px) {
  .contactsContainer {
    flex-direction: column;
  }

  .title {
    text-align: center;
  }
}
